<style>
    select {
        appearance: none;
        background: transparent;
    }
</style>
<div class="grid grid-cols-12 ">
    <div class="col-span-12 ">
        <header class="bg-white border-b p-2 flex items-center justify-between flex-shrink-0">
            <h1 class="text-lg font-medium">¡Bienvenido!</h1>
        </header>
    </div>
    <div class="col-span-12 p-2">
        <div class="p-2 text-sm">
            <div class="grid grid-cols-12 gap-4">
                <div class="col-span-8 bg-white p-2 rounded-lg">
                    <div class="">
                        <canvas #barCanvas></canvas>
                    </div>
                </div>
                <div class="col-span-4 bg-white p-2 rounded-lg">
                    hola
                </div>
            </div>
        </div>
    </div>
    <div class="col-span-12">
        <!-- TABLA DE ASISTENCIAS -->
        <div class="px-4 pt-4 pb-9 text-sm">
            <div class="grid grid-cols-12 bg-white rounded-lg">
                <div class="col-span-12 px-4 py-2 border-b">
                    <div class="flex justify-between items-center">
                        <p class="text-gray-700">Asistencia por grupo</p>
                        <div class="flex items-center gap-3 bg-white border border-gray-200 rounded-lg px-2 py-1">
                            <i class="ti ti-filter-2 text-gray-700 pl-2"></i>
                            <select
                                class="bg-transparent focus:outline-none text-sm text-gray-700 w-full px-4 appearance-none">
                                <option disabled selected>Filtrar</option>
                                <option>6-A</option>
                                <option>6-B</option>
                                <option>6-C</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-span-12 px-4 py-2">
                    <div class="h-48 w-full touch-auto overflow-auto ...">
                        <table class="table-auto w-full">
                            <thead>
                                <tr>
                                    <th>Song</th>
                                    <th>Artist</th>
                                    <th>Year</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>The Sliding Mr. Bones (Next Stop, Pottersville)</td>
                                    <td>Malcolm Lockyer</td>
                                    <td>1961</td>
                                </tr>
                                <tr>
                                    <td>Witchy Woman</td>
                                    <td>The Eagles</td>
                                    <td>1972</td>
                                </tr>
                                <tr>
                                    <td>Shining Star</td>
                                    <td>Earth, Wind, and Fire</td>
                                    <td>1975</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>